<td>
  <input type="checkbox"
      ng-model="$ctrl.user.selected"
      ng-change="$ctrl.toggle($ctrl.user)">
</td>
<td>{{$ctrl.user.id}}</td>
<td>{{$ctrl.user.firstName}}</td>
<td>{{$ctrl.user.lastName}}</td>
<td>{{$ctrl.user.email}}</td>
<td>
  <button class="btn btn-xs btn-default" ng-click="$ctrl.show($ctrl.user)"><span class="glyphicon glyphicon-user"></span> Show</button> |
  <button class="btn btn-xs btn-warning" ng-click="$ctrl.edit($ctrl.user)"><span class="glyphicon glyphicon-pencil"></span> Edit</button> |
  <button class="btn btn-xs btn-danger" ng-click="$ctrl.delete($ctrl.user)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
</td>
