.n2-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #282E34;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

  p {
    color: #fff;
    font-size: 1.4rem;

    &:hover {
      color:#ccd3d9;
    }

  }

}
