.n2-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #282E34;

  p {
    color: #fff;
    font-size: 2rem;

    &:hover {
      color:#ccd3d9;
    }

  }

}
