<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="6">
          <small>Selecteds:</small> <span class="label label-default">{{$ctrl.selecteds.length}}</span> |
          <button class="btn btn-sm btn-danger"
                  ng-click="$ctrl.deleteSelecteds()"
                  ng-disabled="!$ctrl.selecteds.length"><span class="glyphicon glyphicon-remove"></span> Delete
          </button> |
          <download-csv collection="$ctrl.selecteds"
                        disabled="!$ctrl.selecteds.length"></download-csv>
          </th>
      </tr>
      <tr>
        <th></th>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>E-mail</th>
        <th>*</th>
      </tr>
    </thead>
    <tbody>
      <tr user-row
          ng-repeat="user in $ctrl.users"
          user="user"
          on-show="$ctrl.openShowModal($event)"
          on-edit="$ctrl.navigateToEdit($event)"
          on-delete="$ctrl.deleteRow($event)"
          on-select="$ctrl.selectUser($event)">
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="6">
          <nav>
            <ul class="pager">
              <li class="previous"><a href="#" ng-click="$ctrl.previous()">Previous</a></li>
              <li><a href="#">{{$ctrl.page}}</a></li>
              <li class="next"><a href="#" ng-click="$ctrl.next()">Next</a></li>
            </ul>
          </nav>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
